<!DOCTYPE html>
<html ng-app="takeShop">
    <head>
        <title>take</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:800|Roboto+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css" media="screen, projection" />
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    </head>
    <body class="grey lighten-2" ng-controller="allShopController">
        <nav class="grey lighten-5">
            <div class="hide-on-large-only">
                <div class="navbar-fixed">
                    <a href="#" class="brand-logo left black-text" style="font-family: 'Roboto Slab', serif;padding-left: .3em;font-weight: bolder; font-size: 4em;">take</a>
                    <ul id="nav-mobile" class="right">
                        <li class="active"><a href="#"><i class="material-icons black-text">store</i></a></li>
                        <li><a href="#"><i class="material-icons black-text">shopping_cart</i></a></li>
                    </ul>
                </div>
            </div>
            <ul id="slide-out" class="side-nav fixed grey lighten-5">
                <li class="hide-on-med-and-down">
                    <div class="card-panel white">
                        <a href="#" class="center black-text" style="font-family: 'Roboto Slab', serif;font-weight: 900;font-size: 6em;">take</a>
                    </div>
                </li>
                <li class="bold active" ng-class="{active:tab === 1}"><a href="#" id="menu-choices" class="black-text" ng-click="tab = 1"><i class="material-icons left">store</i>store</a></li>
                <li class="bold" ng-class="{active:tab === 2}"><a href="#" id="menu-choices" class="black-text" ng-click="tab = 2"><i class="material-icons left large">shopping_cart</i>my cart</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="mdi-navigation-menu"></i></a>
        </nav>
        <div ng-view> </div>
    </body>
    <!-- AngularJS Core Dependencies -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-route.min.js"></script>
    <!-- Bootstrap Core Dependencies -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/materialize.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controller.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
</html>