@font-family {
	font-family: "RobotoThin";
	src: url(../fonts/roboto/Roboto-Thin.tff);
}

@font-family {
	font-family: "Roboto";
	src: url(../fonts/roboto/Roboto-Regular.woff);
}

head, body {
	margin: 0px;
	padding-left: 300px;
	padding-right: 50px;
}

@media only screen and (max-width : 992px) {
    head, body, .nav-wrapper {
    padding-left: 0;
    padding-right: 0;
    }
}

a {
	margin: 0px;
	padding: 0px;
}

nav {
	margin:0px;
	padding: 0px;
	height: auto;
}

a:hover, a:visited, a:link, a:active {
	font-family: Roboto;
	font-size: 3vw;
	color: white;
	text-decoration: none;
}

 #menu-choices {
	font-size: 1.5vw;
}

.card-panel {
	padding-top: 3vw;
	padding-bottom: 3vw;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}

.material-icons {
	font-size: 3vw;
}

.card-title {
	font-family: 'Open Sans', sans-serif;
}