@font-family {
	font-family: "RobotoThin";
	src: url(../fonts/roboto/Roboto-Thin.tff);
}

@font-family {
	font-family: "Roboto";
	src: url(../fonts/roboto/Roboto-Regular.woff);
}

head, body {
	margin: 0px;
	padding-left: 300px;
	padding-right: 50px;
}

@media only screen and (max-width : 992px) {
    head, body, .nav-wrapper {
    padding-left: 0;
    padding-right: 0;
    }

    .title-card {
    	margin-top: 10px;
    	margin-left: 10px;
    	margin-right: 10px;
    }
}

@media only screen and (min-width : 993px) {
    .card {
    	margin-top: 50px;
    }
}

a {
	margin: 0px;
	padding: 0px;
}

nav {
	margin:0px;
	padding: 0px;
	height: auto;
}
 #menu-choices {
	font-size: 1.5vw;
}

.card-panel {
	padding-top: 3vw;
	padding-bottom: 3vw;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}

.material-icons {
	font-size: 3vw;
}

.card-title {
	font-family: 'Open Sans', sans-serif;
}